# Ignorování datového souboru
data.json
# Ignorování složky s daty 
data/
# Ignorování Python cache souborů
__pycache__/*
.pyc
# Ignorování virtuálního prostředí
venv/
env/
# Ignorování IDE-specifických souborů 
.vscode/
